body {
    font: small 'Lucida Grande', Verdana, Arial, sans-serif;
}

/* I basically used <p> and <div> to display things as blocks
 * so I just made it explicit. */
p {
	font-size:95%;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

div {
	font-size: 95%;
	display: block;
}

h1 {
    font-size: 170%;
    font-weight: bold;
}

h2 {
    font-size: 120%;
    font-weight: bold;
}

/* I made the results sections invisible
 * like in the class project. */
section#results {
    display: none;
}

section#alignment_results {
    display: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

table thead td {
    font-weight: bold;
}

table td {
    border: 1px solid rgb(200,200,200);
    padding: 2px 10px;
}
